@using Simmonz.ViewModel.Common
@model PagedResult<Simmonz.ViewModel.User.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="view-all">
    <div class="container-fluid">
        <h1 class="mt-4">Danh sách người dùng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách người dùng</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a onclick="showInPopUp('@Url.Action("Register","User",null,Context.Request.Scheme)','Thêm người dùng')" class="btn btn-outline-dark">
                            Thêm người dùng
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <form asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                </div>
                                <div class="cold-md-3">
                                    <button type="submit" class="btn btn-outline-primary">Tìm</button>
                                    <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.SuccessMsg
                        </div>
                    }
                    else if (ViewBag.FailedMsg != null)
                    { 
                        <div id="msgAlert" class="alert alert-danger" role="alert">
                            @ViewBag.FailedMsg
                        </div>
                    }
                </div>
                <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                   Mã user
                                </th>
                                <th>
                                    Họ tên
                                </th>

                                <th>
                                   Ngày sinh
                                </th>
                                <th>
                                   Email
                                </th>
                                <th>
                                   Số điện thoại
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DayOfBirth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info" onclick="showInPopUp('@Url.Action("Update","User",new { id=item.Id},Context.Request.Scheme)','Thêm sản phẩm mới')">Sửa</a>
                                        <a class="btn btn-outline-info" onclick="showInPopUp('@Url.Action("Details","User",new { id=item.Id},Context.Request.Scheme)','Thêm sản phẩm mới')">Chi tiết</a>

                                        <a class="btn btn-outline-info" onclick="showInPopUp('@Url.Action("RoleAssign","User",new { id=item.Id},Context.Request.Scheme)','Gán quyền cho user')">Gán quyền</a>
                                        <form class="d-inline" onsubmit="return jQueryAjaxDelete(this)" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                            <input type="submit" class="btn-danger btn" value="Xóa" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>
